@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: white;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@layer components {
  .btn-primary {
    @apply p-2 text-center text-red-500 bg-red-100 rounded-md active:scale-95;
  }
  .form-control {
    @apply p-2 flex flex-col gap-2;
  }
  .form-label {
  }
  .form-input {
    @apply p-2 rounded-md border-none ring-2 ring-blue-300 outline-none focus:ring-blue-500;
  }
  .form-btn {
    @apply p-2 m-2 text-blue-600 bg-blue-200 rounded-md;
  }
}
